.about{
 margin: 100px auto;
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 90%;


}

.about-left{
    flex-basis: 42%;
    object-fit: cover;

}

.about-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.about-right{
    flex-basis: 56%;
    font-size: 18px;
    padding: 10px;
}